# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.lo
*.slo
*.so

*.a
*.la
*.lai

*.dylib

*.exe
*.dll

# Directories
_obj
_test

/bin/
/pkg/

# Architecture specific extensions/prefixes
*.[568vqo]
[568vq].out

*.cgo*.go
*.cgo*.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_cgo_*

_testmain.go
*.test
*.prof

# Backup files, etc.
*~
.*.swp
*.orig
core

# Take care of MacOS weirdness; for potential contributors using it
.DS_Store
._*
